/*buttons*/

//button 
button {
    color: $white;
    max-height: 40px;
    border-style: none;
    padding: 0.5em;
}

//profile buttons
.profile__btn--red {
    background-color: $red;
}

.profile__btn--cyan {
    background-color: $cyan;
}